<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CONNECT_WIFI_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content text-center>
  <ion-spinner *ngIf="firstRefresh" color="primary" id="spinner"></ion-spinner>
  <ion-refresher (ionRefresh)="refreshDevices($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
    ></ion-refresher-content>
  </ion-refresher>
  <ion-list>
      <ng-container *ngFor="let network of networks">
        <ion-item *ngIf="network.ssid">
            {{ network.ssid }}
            <button ion-button (click)="connect(network.ssid)" class="connect-button" size="large">
                {{ 'CONNECT' | translate }}
            </button>
        </ion-item>
      </ng-container>
  </ion-list>
</ion-content>
